@using CaptchaMvc.HtmlHelpers
@model Tipnet.DTOs.NewPasswordDTO

@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script src="~/Scripts/jquery-1.12.4.js"></script>


<h2>Password Reset</h2>

<form action="@Url.Action("PasswordResetForm", "Account")" method="post" class="">
    
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.PrGuid, new { Value = ViewBag.PrGuid, htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Captcha(3)

                <br />
                <p class="text-danger"> @ViewBag.ErrMessage </p>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-danger" />
            </div>
        </div>
    </div>
  </form>

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")

        @*--------------------------Kalendar--------------------------------------*@

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

        <script type="text/javascript">
            $(function () {
                // This will make every element with the class "date-picker" into a DatePicker element
                $('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
            })
        </script>

    }
